@using BlazorBlocks.Component;
@using BlazorBlocks.Blocks.ImageBlock;
@using BlazorBlocks.Blocks.RawTextBlock;
@using BlazorBlocks.Blocks.TitleBlock;
@using BlazorBlocks.Model;

@code {
    [Parameter]
    public EditorColumnModel Model { get; set; }

    [Parameter]
    public List<BlockRegistration> BlockTypes { get; set; }

    protected bool AddNewBlockDialogOpen { get; set; } = false;

    protected void AddBlock(BlockRegistration blockType)
    {
        var blockModel = Activator.CreateInstance(blockType.BlockModel) as EditorBlockBaseModel;
        if (blockModel == null) throw new InvalidOperationException($"Attempting to create a block model that is not a EditorBlockBaseModel. (It is {blockType.BlockModel.Name})");
        Model.Blocks.Add(blockModel);
        AddNewBlockDialogOpen = false;
    }

    protected void OpenAddNewBlockDialog()
    {
        AddNewBlockDialogOpen = true;
    }
}

@if (AddNewBlockDialogOpen)
{
    <Dialog Title="Add new block" OnClose="() => { AddNewBlockDialogOpen = false; }">
        @foreach (var blockType in BlockTypes)
        {
            @if (blockType.Image == null)
            {
                <button @onclick="() => AddBlock(blockType)">@blockType.Name</button>
            }
            else
            {
                <img @onclick="() => AddBlock(blockType)" src="@blockType.Image" />
            }
        }
    </Dialog>
}

@foreach (var block in Model.Blocks)
{
    <div class="row">
        <div class="col-1" style="background-color:red;">
            @block.EditorName
            <button>Move up</button>
            <button>Move down</button>
        </div>
        <div class="text-center col-11" style="border-bottom: 1px #ccc dashed; padding: 1rem;">
            <DynamicComponent Type="@block.EditorType" Parameters="@block.Parameters" />
        </div>
    </div>
}

@if (BlockTypes.Any())
{
    <div class="text-center mt-2 mb-2">
        <button style="margin-left: auto; margin-right: auto;" class="btn btn-warning" @onclick="() => OpenAddNewBlockDialog()"><i class="oi oi-plus"></i> Add block to column</button>
    </div>
}
